<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.project.storage.domain.OrderVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_name" property="orderName"/>
        <result column="empty_box_order_time" property="emptyBoxOrderTime"/>
        <result column="heavy_box_order_time" property="heavyBoxOrderTime"/>
        <result column="empty_box_call_name" property="emptyBoxCallName"/>
        <result column="empty_box_call_phone" property="emptyBoxCallPhone"/>
        <result column="empty_box_call_address" property="emptyBoxCallAddress"/>
        <result column="empty_box_call_time" property="emptyBoxCallTime"/>
        <result column="empty_box_call_interval" property="emptyBoxCallInterval"/>
        <result column="heavy_box_call_name" property="heavyBoxCallName"/>
        <result column="heavy_box_call_phone" property="heavyBoxCallPhone"/>
        <result column="heavy_box_call_address" property="heavyBoxCallAddress"/>
        <result column="heavy_box_call_time" property="heavyBoxCallTime"/>
        <result column="heavy_box_call_interval" property="heavyBoxCallInterval"/>
        <result column="box_id" property="boxId"/>
        <result column="box_code" property="boxCode"/>
        <result column="box_standard" property="boxStandard"/>
        <result column="box_unit_price" property="boxUnitPrice"/>
        <result column="lease_duration" property="leaseDuration"/>
        <result column="total_price" property="totalPrice"/>
        <result column="sort_no" property="sortNo"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
        <result column="app_del_flag" property="appDelFlag"/>
        <result column="backend_del_flag" property="backendDelFlag"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>
    <!--删除订单-->
    <update id="deleteOrder">
        UPDATE t_order SET del_flag = 2,
        update_time = now(),
        update_by= #{updateBy}
        WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!--订单操作-->
    <update id="operateOrder">
        UPDATE t_order
        SET status      = #{status},
            update_time = NOW(),
            update_by= #{updateBy}
        WHERE id = #{id}
    </update>
    <!--多条件查询订单-->
    <select id="findOrderList" resultMap="BaseResultMap">
        SELECT t.id,
        t.user_id,
        t.status,
        s.nick_name,
        t.order_code,
        t.order_name,
        t.empty_box_order_time,
        t.heavy_box_order_time,
        t.empty_box_call_name,
        t.empty_box_call_phone,
        t.empty_box_call_address,
        t.empty_box_call_time,
        t.empty_box_call_interval,
        t.heavy_box_call_name,
        t.heavy_box_call_phone,
        t.heavy_box_call_address,
        t.heavy_box_call_time,
        t.heavy_box_call_interval,
        t.box_id,
        t.box_code,
        t.box_standard,
        t.box_unit_price,
        t.lease_duration,
        t.total_price,
        t.sort_no,
        t.create_time,
        t.create_by,
        t.update_time,
        t.update_by,
        t.version,
        t.del_flag,
        t.app_del_flag,
        t.backend_del_flag
        FROM
        t_order t LEFT JOIN sys_user s ON t.user_id = s.user_id
        <where>
            t.del_flag = 0
            <if test="nickName != null and nickName != ''">
                AND s.nick_name like concat('%', #{nickName},'%')
            </if>
            <if test="status != null and status != '' ">
                AND t.status =#{status}
            </if>
            <if test="emptyBoxOrderTimeStart != null and emptyBoxOrderTimeStart != ''
                        and emptyBoxOrderTimeEnd != null and emptyBoxOrderTimeEnd != ''">
                AND t.empty_box_order_time BETWEEN #{emptyBoxOrderTimeStart} AND #{emptyBoxOrderTimeEnd}
            </if>
            <if test="heavyBoxOrderTimeStart != null and heavyBoxOrderTimeStart != ''
            and heavyBoxOrderTimeEnd != null and heavyBoxOrderTimeEnd != ''">
                AND t.heavy_box_order_time BETWEEN #{heavyBoxOrderTimeStart} AND #{heavyBoxOrderTimeEnd}
            </if>
        </where>
    </select>
    <!--订单详情-->
    <select id="findOrderInfo" resultMap="BaseResultMap">
        SELECT t.id,
        t.user_id,
        s.nick_name,
        t.status,
        t.order_code,
        t.order_name,
        t.empty_box_order_time,
        t.heavy_box_order_time,
        t.empty_box_call_name,
        t.empty_box_call_phone,
        t.empty_box_call_address,
        t.empty_box_call_time,
        t.empty_box_call_interval,
        t.heavy_box_call_name,
        t.heavy_box_call_phone,
        t.heavy_box_call_address,
        t.heavy_box_call_time,
        t.heavy_box_call_interval,
        t.box_id,
        t.box_code,
        t.box_standard,
        t.box_unit_price,
        t.lease_duration,
        t.total_price,
        t.sort_no,
        t.create_time,
        t.create_by,
        t.update_time,
        t.update_by,
        t.version,
        t.del_flag,
        t.app_del_flag,
        t.backend_del_flag
        FROM t_order t LEFT JOIN sys_user s ON t.user_id = s.user_id
        <where>
            t.del_flag = 0
            <if test="id != null">
                AND t.id = #{id}
            </if>
        </where>
    </select>

</mapper>