<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.project.storage.domain.UserVO">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="current_points" jdbcType="BIGINT" property="currentPoints"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <insert id="createUser" parameterType="com.ruoyi.project.storage.domain.UserVO">
        INSERT INTO sys_user(user_name, nick_name, email, phonenumber, sex, create_time, create_by, user_type,
                             password)
        VALUES (#{userName}, #{nickName}, #{email}, #{phonenumber}, #{sex}, #{createTime}, #{createBy}, #{userType},
                #{password})
    </insert>
    <update id="updateUser" parameterType="com.ruoyi.project.storage.domain.UserVO">
        UPDATE sys_user
        SET nick_name    = #{nickName},
            email        = #{email},
            phonenumber = #{phonenumber},
            sex          = #{sex},
            update_time  = #{updateTime},
            update_by    = #{updateBy}
        WHERE user_id = #{userId}
    </update>

    <update id="isStatus" parameterType="com.ruoyi.project.storage.domain.UserVO">
        UPDATE sys_user
        SET status = #{status},
        update_time = now()
        WHERE user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="delete">
        UPDATE sys_user
        SET del_flag = 2,
        update_time = now()
        WHERE user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="resetPassword">
        UPDATE sys_user
        SET password = #{password}
        WHERE user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updatePassword">
        UPDATE sys_user
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>

    <select id="findUsers" resultMap="BaseResultMap">
        SELECT s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version,
        s.del_flag,
        s.remark,
        s.user_id,
        s.dept_id,
        s.user_name,
        s.nick_name,
        s.user_type,
        s.email,
        s.phonenumber,
        s.sex,
        s.avatar,
        s.password,
        s.status,
        s.login_ip,
        s.login_date,
        s.current_points
        FROM sys_user s
        <where>
            del_flag = 0
            AND s.user_type = '01'
            <if test="searchValue != null and searchValue != ''">
                AND s.nick_name like concat ('%',#{searchValue},'%')
                OR s.user_name like concat ('%',#{searchValue},'%')
                OR s.phonenumber like concat ('%',#{searchValue},'%')
                OR s.email like concat ('%',#{searchValue},'%')
            </if>
        </where>
    </select>
    <select id="findCustomerByIds" resultType="java.lang.String">
        SELECT s.create_by,
        s.create_time,
        s.update_by,
        s.update_time,
        s.version,
        s.del_flag,
        s.remark,
        s.user_id,
        s.dept_id,
        s.user_name,
        s.nick_name,
        s.user_type,
        s.email,
        s.phonenumber,
        s.sex,
        s.avatar,
        s.password,
        s.status,
        s.login_ip,
        s.login_date,
        s.current_points
        FROM sys_user s
        <where>
            del_flag = 0
            AND s.user_type = '01'
            <if test="searchValue != null and searchValue != ''">
                AND s.nick_name like concat ('%',#{searchValue},'%')
                OR s.user_name like concat ('%',#{searchValue},'%')
                OR s.phonenumber like concat ('%',#{searchValue},'%')
                OR s.email like concat ('%',#{searchValue},'%')
            </if>
        </where>
    </select>
</mapper>