<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.BoxInfoMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.project.storage.domain.BoxInfoVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="box_code" jdbcType="BIGINT" property="boxCode"/>
        <result column="box_standard" jdbcType="VARCHAR" property="boxStandard"/>
        <result column="box_unit_price" jdbcType="BIGINT" property="boxUnitPrice"/>
        <result column="used_by" jdbcType="BIGINT" property="usedBy"/>
        <result column="is_used" jdbcType="TINYINT" property="isUsed"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="sort_no" jdbcType="BIGINT" property="sortNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>
    <insert id="createBoxInfo" parameterType="java.util.List">
        INSERT INTO t_box_info (box_code, box_standard, box_unit_price,
        used_by, is_used, remark,
        sort_no, create_time, create_by,
        update_time, update_by, version,
        del_flag)
        VALUES
        <foreach collection="boxInfoVOList" item="boxInfo" separator=",">
            (#{boxInfo.boxCode}, #{boxInfo.boxStandard}, #{boxInfo.boxUnitPrice},
            #{boxInfo.usedBy}, #{boxInfo.isUsed}, #{boxInfo.remark},
            #{boxInfo.sortNo}, #{boxInfo.createTime}, #{boxInfo.createBy},
            #{boxInfo.updateTime}, #{boxInfo.updateBy}, #{boxInfo.version},
            #{boxInfo.delFlag})
        </foreach>
    </insert>
    <update id="deleteBoxStandards">
        UPDATE t_box_info
        SET del_flag = 2,
        update_time=now(),
        update_by = #{updateBy}
        WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="findBoxInfoList" resultMap="BaseResultMap" parameterType="com.ruoyi.project.storage.domain.BoxInfoVO">
        SELECT
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.version,
        t.del_flag,
        t.remark,
        t.id,
        t.box_code,
        t.box_standard,
        t.box_unit_price,
        t.used_by,
        s.nick_name AS usedByName,
        t.is_used,
        t.sort_no
        FROM
        t_box_info t LEFT JOIN sys_user s ON t.used_by = s.user_id
        <where>
            t.del_flag = 0
            <if test="boxStandard != null and boxStandard !='' ">
                AND t.box_standard = #{boxStandard}
            </if>
            <if test="isUsed != null and isUsed !=''">
                AND t.is_used = #{isUsed}
            </if>
            <if test="usedByName != null and usedByName !=''">
                AND s.nick_name like concat('%', #{usedByName},'%')
            </if>
        </where>
    </select>
    <!--箱子使用状态查询-->
    <select id="findBoxInfoStatusList" resultType="java.lang.Integer">
        SELECT t.is_used
        FROM t_box_info t
        WHERE del_flag = 0 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>