<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.BannerMapper">
    <resultMap id="BannerResultMap" type="com.ruoyi.project.storage.domain.BannerVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="points" jdbcType="BIGINT" property="points"/>
        <result column="is_enable" jdbcType="TINYINT" property="isEnable"/>
        <result column="sort_no" jdbcType="BIGINT" property="sortNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>


    <!--新增广告-->
    <insert id="create" parameterType="com.ruoyi.project.storage.domain.BannerVO">
        INSERT INTO t_advertisement (title, content, img_url, points, is_enable, sort_no,
                                     create_time, create_by, update_time, update_by, version, del_flag)
        VALUES (#{title}, #{content}, #{imgUrl}, #{points}, #{isEnable}, #{sortNo}, #{createTime}, #{createBy},
                #{updateTime}, #{updateBy}, #{version}, #{delFlag})
    </insert>

    <!--更新广告-->
    <update id="update" parameterType="com.ruoyi.project.storage.domain.BannerVO">
        UPDATE t_advertisement
        SET title       = #{title},
            content     = #{content},
            points      = #{points},
            img_url     = #{imgUrl},
            sort_no     = #{sortNo},
            update_time = now()
        WHERE id = #{id}
    </update>

    <!--操作广告-->
    <update id="isEnable" parameterType="com.ruoyi.project.storage.domain.BannerVO">
        UPDATE t_advertisement
        SET is_enable   = #{isEnable},
            update_time = now()
        WHERE id = #{id}
    </update>
    <update id="delete" parameterType="com.ruoyi.project.storage.domain.BannerVO">
        UPDATE t_advertisement
        SET del_flag    = #{delFlag},
            update_time = now()
        WHERE id = #{id}
    </update>

    <!--查询广告-->
    <select id="findBannerList" resultMap="BannerResultMap"
            parameterType="com.ruoyi.project.storage.domain.BannerParam">
        SELECT *
        FROM t_advertisement t
        <where>
            t.del_flag = 0
            <if test="searchValue != null">
                AND t.content LIKE concat('%',#{searchValue}, '%')
                OR t.title like concat('%',#{searchValue}, '%')
                OR t.points like concat('%',#{searchValue}, '%')
            </if>
        </where>
        ORDER BY t.id
    </select>

</mapper>