<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.BoxInfoMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.project.storage.domain.BoxInfoVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="box_code" jdbcType="BIGINT" property="boxCode"/>
        <result column="box_standard" jdbcType="VARCHAR" property="boxStandard"/>
        <result column="box_unit_price" jdbcType="BIGINT" property="boxUnitPrice"/>
        <result column="used_by" jdbcType="BIGINT" property="usedBy"/>
        <result column="is_used" jdbcType="TINYINT" property="isUsed"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="sort_no" jdbcType="BIGINT" property="sortNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    </resultMap>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.project.storage.domain.BoxInfoVO"
            useGeneratedKeys="true">
        INSERT INTO t_box_info (box_code, box_standard, box_unit_price,
                                used_by, is_used, remark,
                                sort_no, create_time, create_by,
                                update_time, update_by, version,
                                del_flag)
        VALUES (#{boxCode,jdbcType=BIGINT}, #{boxStandard,jdbcType=VARCHAR}, #{boxUnitPrice,jdbcType=BIGINT},
                #{usedBy,jdbcType=BIGINT}, #{isUsed,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR},
                #{sortNo,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
                #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT},
                #{delFlag,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.ruoyi.project.storage.domain.BoxInfoVO" useGeneratedKeys="true">
        insert into t_box_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="boxCode != null">
                box_code,
            </if>
            <if test="boxStandard != null">
                box_standard,
            </if>
            <if test="boxUnitPrice != null">
                box_unit_price,
            </if>
            <if test="usedBy != null">
                used_by,
            </if>
            <if test="isUsed != null">
                is_used,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="sortNo != null">
                sort_no,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="boxCode != null">
                #{boxCode,jdbcType=BIGINT},
            </if>
            <if test="boxStandard != null">
                #{boxStandard,jdbcType=VARCHAR},
            </if>
            <if test="boxUnitPrice != null">
                #{boxUnitPrice,jdbcType=BIGINT},
            </if>
            <if test="usedBy != null">
                #{usedBy,jdbcType=BIGINT},
            </if>
            <if test="isUsed != null">
                #{isUsed,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sortNo != null">
                #{sortNo,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.project.storage.domain.BoxInfoVO">
        update t_box_info
        <set>
            <if test="boxCode != null">
                box_code = #{boxCode,jdbcType=BIGINT},
            </if>
            <if test="boxStandard != null">
                box_standard = #{boxStandard,jdbcType=VARCHAR},
            </if>
            <if test="boxUnitPrice != null">
                box_unit_price = #{boxUnitPrice,jdbcType=BIGINT},
            </if>
            <if test="usedBy != null">
                used_by = #{usedBy,jdbcType=BIGINT},
            </if>
            <if test="isUsed != null">
                is_used = #{isUsed,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sortNo != null">
                sort_no = #{sortNo,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.project.storage.domain.BoxInfoVO">
        UPDATE t_box_info
        SET box_code       = #{boxCode,jdbcType=BIGINT},
            box_standard   = #{boxStandard,jdbcType=VARCHAR},
            box_unit_price = #{boxUnitPrice,jdbcType=BIGINT},
            used_by        = #{usedBy,jdbcType=BIGINT},
            is_used        = #{isUsed,jdbcType=TINYINT},
            remark         = #{remark,jdbcType=VARCHAR},
            sort_no        = #{sortNo,jdbcType=BIGINT},
            create_time    = #{createTime,jdbcType=TIMESTAMP},
            create_by      = #{createBy,jdbcType=VARCHAR},
            update_time    = #{updateTime,jdbcType=TIMESTAMP},
            update_by      = #{updateBy,jdbcType=VARCHAR},
            version        = #{version,jdbcType=BIGINT},
            del_flag       = #{delFlag,jdbcType=CHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>